<div class="col-lg-7 wow fadeIn" data-wow-delay="0.5s">
    {% if user.is_authenticated %}
        <a href="">{{ user.first_name }} {{ user.last_name }}</a>
        <a href="/add-todo">Add Todo</a>
        <a href="/todo">Todo</a>
        <a href="/accounts/logout">Logout</a>
    {% else %}
        <a href="/accounts/login">Sign in</a>
        <a href="/accounts/sign-up">Sign up</a>
    {% endif %}
    <div class="ps-3">
        <h5 class="mb-1">{{ user.first_name }} {{ user.last_name }}</h5>
    </div>
{#                        <div class="owl-carousel testimonial-carousel border-start border-primary">#}
                            <div class="testimonial-item ps-5">
                                {% for prod in message %}
                                <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                                {% if user.is_authenticated %}
                                <p class="fs-4">{{ prod.text }}</p>
                                {% endif %}
                                <div class="d-flex align-items-center">
                                        <i class="fas fa-user-circle"></i>
                                        <i class="fas fa-user-alt-slash"></i>
                                        <div class="ps-3">
                                        </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>